@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');

/* ///////////// header */
.header_content,
.selects_content,
.footer_index {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_content {
  background: white;
  width: 75vw;
  height: 15vh;
  left: 25vw;
  top: 0;
  position: fixed;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 53%);
  z-index: 3;
}

h1 {
  font-family: 'Roboto-black', sans-serif;
  color: #44696C;
  font-size: 7vh;
}

/* ////////////Functions Section */

.selects_content {
  width: 50vw;
  height: 15vh;
}

option{
  background-color: #E5E5E5;
}


.selectPokemon,
.searchPokemon input {
  height: 6vh;
  background-color: #E5E5E5;
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  padding: 0 1.5rem;
  outline: none;
  border-style: none;
  border-radius: 30px;
}

.selectPokemon {
  width: 15vw;
}

.searchPokemon input {
  width: 11vw;
}

/* ////////////ASIDE */
.asideWeb {
  background-color: #14528F;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  margin: 0px;
  font-family: 'Roboto-black', sans-serif;
  text-align: center;
  color: white;
  z-index: -3
}

.imgTrainer {
  width: auto;
  height: 50%;
}

#trainer {
  width: auto;
  height: 55vh;
  position: relative;
  top: -5%;
  visibility: visible;
  display: block;
  z-index: -2;
}

#trainerMovil {
  width: 7rem;
  height: 7rem;
  position: relative;
  left: 80%;
  top: 1rem;
  visibility: hidden;
  display: none;
}

#logoMovil {
  width: 12rem;
  height: 7rem;
  position: relative;
  left: 10%;
  top: 1rem;
  visibility: hidden;
  display: none;
}

.playerHide {
  display: none;
}

.player {
  width: 25vw;
  height: 25vh;
  z-index: 2;
  display: block;
}

.userActive {
  font-size: 3vw;
  font-weight: 800;
  margin-top: 2em;
}

.userInfo {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.levelInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#levelBar {
  background: linear-gradient(to right, #18EFE9 60%, #226de6);
  width: 90%;
  border-radius: 15px;
  height: 1rem;
}

#level {
  width: 30%;
  font-size: 2vw;
  margin-left: 5%;
}

.levelActive {
  color: rgb(169, 169, 169)
}

#raiting {
  font-size: 1.5vw;
}

#Nav {
  margin-top: 2rem;
}

.pags,
.pags2 {
  font-family: 'Roboto-black', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2.5vw;
  margin: 1rem auto;
}

.pags2 {
  color: #58D9D9;
}

.pags:hover,
.pags2:hover {
  color: #C4C4C4;
}



/* /////////////root cards */
main {
position: relative;
  float: right;
  right: 2.5%;
  width: 70vw;
}

#root {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin-top: 16vh;
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #ffffff;
  width: 14rem;
  height: 17rem;
  text-align: center;
  flex: auto;
  justify-content: center;
  box-shadow: 0px 0.25rem 0.2rem rgba(0, 0, 0, 0.30);
  border-radius: 1rem;
  color: #44696c;
  list-style-type: none;
  text-transform: capitalize;
}

.card:hover {
  background-color: #14528F;
  color: whitesmoke;
}

.num {
  text-align: left;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.img {
  margin: -1rem auto;
}

.name {
  font-family: 'Roboto-black', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 1rem auto;
}

.bar {
  background-color: #6DEDB7;
  width: 80%;
  border-radius: 15px;
  display: block;
  height: 0.3rem;
  margin: 0.5rem auto;
}

#divType {
  border-radius: 63px;
  font-size: 1.1rem;
  color: white;
  padding-top: 6px;
  text-align: center;
  width: 5rem;
  height: 1.9rem;
  margin: 1rem 0.2rem 1rem;
  justify-content: center;
  display: inline-flex;
}

.normal {
  background-color: #A9A878;
}

.fire {
  background-color: #C03028;
}

.water {
  background-color: #6890F0;
}

.grass {
  background-color: #78C84F;
}

.electric {
  background-color: #F8D030;
}

.ice {
  background-color: #18EFE9;
}

.fighting {
  background-color: #F07F2F;
}

.poison {
  background-color: #A040A1;
}

.ground {
  background-color: #995205;
}

.flying {
  background-color: #A890F0;
}

.psychic {
  background-color: #F85888;
}

.bug {
  background-color: #A8B821;
}

.rock {
  background-color: #A0935F;
}

.ghost {
  background-color: #5932A5;
}

.dragon {
  background-color: #1A578E;
}

.dark {
  background-color: #3D3D3D;
}

.steel {
  background-color: #8E8E8E;
}

.fairy {
  background-color: #FF69C6;
}
